body {
  background-color: #fffff9;
  background-image: url(../images/background/mobile/hero-mobile-donut@1x.png),
    url(../images/background/mobile/mobile-bg-top@1x.png),
    url(../images/background/mobile/footer-mobile-plate@1x.png),
    url(../images/background/mobile/mobile-bg-bottom@1x.png);
  background-position-x: 0, center, 100%, center;
  background-position-y: 0, 0, 100%, 90%;
  background-repeat: no-repeat;
  background-size: auto, 100% 16%, auto, 100% 34.5%;
  @media screen and (min-width: 768px) {
    background-image: url(../images/background/tablet/hero-tablet-donut@1x.png),
      url(../images/background/tablet/tablet-bg-top@1x.png),
      url(../images/background/tablet/registration-tablet-confetti@1x.png),
      url(../images/background/tablet/footer-tablet-plate@1x.png),
      url(../images/background/tablet/tablet-bg-bottom@1x.png);
    background-size: auto, 100% 23%, auto, auto, 100% 49.5%;
    background-position-x: 65%, center, 100%, 100%, center;
    background-position-y: 0, 0, 85%, 100%, 96%;
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/background/desktop/hero-desktop-donut@1x.png),
      url(../images/background/desktop/desktop-bg-top@1x.png),
      url(../images/background/desktop/registration-desktop-confetti@1x.png),
      url(../images/background/desktop/footer-desktop-plate@1x.png),
      url(../images/background/desktop/desktop-bg-bottom@1x.png);
    background-size: auto, 100% 35%, auto, auto, 100% 45%;
    background-position-x: 100%, center, 100%, 100%, center;
    background-position-y: 0, 0, 90%, 100%, 98%;
  }
}
