<section class="contact">
  <div class="container">
    <h2 class="title contact--title-margin" id="contacts">Contact</h2>
    <p class="contact__text">We will answer any question!</p>

    <form class="form" method="POST" action="telegram.php">
      <input
        class="form__input"
        type="email"
        name="user_email"
        placeholder="Email"
        minlength="4"
        required
      />
      <input
        class="form__input"
        type="text"
        name="user_question"
        placeholder="Type your question"
        required
        minlength="4"
      />
      <button type="submit" class="button button--margin">Send</button>
    </form>
  </div>
</section>
