<section class="registration container">
    <a name="registration"></a>
    <div class="registration__box">
    <h2 class="registration__title title">Registration</h2>        
            <div class="registration__toomb">
            <p class="registration__adress">May 23, 11:00 <br>New York</p>
            <p class="registration__price">$ 699</p>
        </div>
    <form action="#" class="registration__form">
        <p class="registration__text">Apply your personal info <br>for registration</p>
        <input  class="registration__input" type="text" name="user-name" placeholder="Your name" required minlength="2">
        <input class="registration__input" type="tel" name="user-phone" placeholder="Phone number" required minlength="2">
        <input class="registration__input" type="email" name="user-mail" placeholder="Email" required minlength="2">
        
        <button type="submit" class="registration__btn">Register</button>
    </form>
    </div>
    
    
</section>